@import "tailwindcss";

@layer base {
  body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
  }

  /* Custom Scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #0f766e;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #14b8a6;
  }

  /* Smooth animations */
  * {
    scroll-behavior: smooth;
  }

  /* Selection color */
  ::selection {
    background-color: #14b8a6;
    color: white;
  }
}
